.title{
    text-align: center;
    font-size: 3rem;
    text-shadow:0 0 10px rgb(175, 12, 12),0 0 20px rgb(228, 21, 21), 0 0 30px rgb(201, 91, 109), 0 0 40px rgb(207, 76, 98), 0 0 50px rgb(201, 70, 92), 0 0 60px rgb(139, 44, 60),0 0 70px rgb(158, 68, 83) ;
};
